*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(157, 153, 187);
}

p{
    font-size: 30px;
}

.start-section{
    color: white;
    text-align: center;
}

#title{
    font-size:60px;
    margin-top: 30px;
}

 